<% provide(:title, 'Contact Us') %>
<!DOCTYPE html>
<html>
<head>
	<title>UVMSR | <%= yield(:title) %></title>
</head>
<body>

<h1>StaticPages#contact</h1>
<p>Find me in app/views/static_pages/contact.html.erb</p>

</body>
</html>
