<ul>
	<li>Agriculture &amp; Life Sci</li>
	<li>American Sign Language</li>
	<li>Anatomy &amp; Neurobiology</li>
	<li>Animal Science</li>
	<li>Animal, Nutrition &amp; Food Sci</li>
	<li>Anthropology</li>
	<li>Arabic</li>
	<li>Art Education</li>
	<li>Art History</li>
	<li>Art Studio</li>
	<li>Astronomy</li>
	<li>Athletic Training</li>
	<li>BioCore</li>
	<li>Biochemistry</li>
	<li>Biological Sciences</li>
	<li>Biology</li>
	<li>Business Administration</li>
	<li>Cell Biology</li>
	<li>Chemistry</li>
	<li>Chinese</li>
	<li>Classics</li>
	<li>Civil Engineering</li>
	<li>Clinical &amp; Translational Science</li>
	<li>Cmty Dev &amp; Apid Econ</li>
	<li>Comm Sciences &amp; Disorders</li>
	<li>Complex Systems</li>
	<li>Computer Science</li>
	<li>Counseling</li>
	<li>Curriculum &amp; Instruction</li>
	<li>Dance</li>
	<li>Economics</li>
	<li>Education</li>
	<li>Electrical Engineering</li>
	<li>Elementary Education</li>
	<li>Engineering</li>
	<li>Engineering Management</li>
	<li>English</li>
	<li>Engr &amp; Math Sciences</li>
	<li>Environmental Sciences</li>
	<li>Environmental Studies</li>
	<li>Exercise &amp; Movement Science</li>
	<li>Film and Television Studies</li>
	<li>Fodd Systems</li>
	<li>Forestry</li>
	<li>Foundations</li>
	<li>French</li>
	<li>Geography</li>
	<li>Geology</li>
	<li>German</li>
	<li>Global and Regional Studies</li>
	<li>Graduate</li>
	<li>Greek</li>
	<li>Greek &amp; Latin</li>
	<li>Health</li>
	<li>Health Education</li>
	<li>Hebrew</li>
	<li>Higher Education</li>
	<li>Historic Preservation</li>
	<li>History</li>
	<li>Holocaust Studies</li>
	<li>Honors College</li>
	<li>Human Development &amp; Fam Stdies</li>
	<li>Italian</li>
	<li>Japanese</li>
	<li>Latin</li>
	<li>Ledaership and Policy Studies</li>
	<li>Library Science</li>
	<li>Linguistics</li>
	<li>Literacy</li>
	<li>Materials Science</li>
	<li>Mathematics</li>
	<li>Mathematics for Educators</li>
	<li>Mechanical Engineering</li>
	<li>Medical Lab &amp; Radiation Sci</li>
	<li>Medical Laboratory Science</li>
	<li>Micr &amp; Molecular Genetics</li>
	<li>Middle Level Teacher Education</li>
	<li>Military Studies</li>
	<li>Molecular Physiology &amp; Biophys</li>
	<li>Music</li>
	<li>Natural Resources</li>
	<li>Neurology</li>
	<li>Neuroscience</li>
	<li>Nuclear Medicine Technology</li>	
	<li>Nursing</li>
	<li>Nursing &amp; Health Sciences</li>
	<li>Nutrition and Food Sciences</li>
	<li>Parks, Recreation and Tourism</li>
	<li>Pathology</li>
	<li>Pharmacology</li>
	<li>Philosophy</li>
	<li>Physical Education</li>
	<li>Physical Therapy</li>
	<li>Physics</li>
	<li>Plant &amp; Soil Science</li>
	<li>Plant Biology</li>
	<li>Political Science</li>
	<li>Portuguese</li>
	<li>Professional Nursing</li>
	<li>Pyschology</li>
	<li>Public Administration</li>
	<li>Public Health</li>
	<li>Public Serv Tech Gen</li>
	<li>Radiation Therapy</li>
	<li>Rehabilitation &amp; Movement Sci</li>
	<li>Religion</li>
	<li>Russian</li>
	<li>Secondary Education</li>
	<li>Social Work</li>
	<li>Sociology</li>
	<li>Spanish</li>
	<li>Special Education</li>
	<li>Speech</li>
	<li>Statistics</li>
	<li>Surgery</li>
	<li>Teacher Education</li>
	<li>Theatre</li>
	<li>Transporation Rsch Ctr</li>
	<li>Wildlife &amp; Fisheries Biology</li>
	<li>Women's &amp; Gender Studies</li>
	<li>World Literature</li>
</ul>
